@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  @apply w-screen overflow-x-hidden;
}

.fx-c {
  @apply flex justify-center items-center;
}
.fx-col {
  @apply flex flex-col;
}
.t-200 {
  @apply transition-all duration-200 ease-in;
}
.h-line {
  @apply relative h-[2px] bg-white rounded-lg;
}
.pxs {
  @apply px-5 p-5 md:p-[64px];
}
.pxss {
  @apply px-5  md:px-[64px];
}
.main-h {
  @apply h-[calc(100vh-80px)];
}
.h1 {
  @apply text-4xl font-bold;
}
.h2 {
  @apply text-3xl font-bold;
}
.h3 {
  @apply text-2xl font-bold;
}
.h4 {
  @apply text-xl font-bold;
}
.h5 {
  @apply text-lg font-bold;
}
.h6 {
  @apply text-base font-bold;
}
p {
  @apply text-base;
}
.acc {
}
